/* EventCard.module.css */

.event-card {
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc; /* Border color */
  background-color: #fff; /* Background color */
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out; /* Add transition for border and background color */
}

.event-card:hover {
  transform: scale(1.05);
  border-color: #007bff; /* Border color on hover */
  background-color: #f8f9fa; /* Background color on hover */
}

.image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.event-card:hover .overlay {
  opacity: 1;
}
